extends layout

block content
  div.hero
    h1 Welcome to insbits
    p.lead
      | Virtual space for a bunch of Mobile Lifers. You can find us in:
      div.col-md-6

        a(href="https://github.com/orgs/MobileLifeCentre" title="GitHub").col-md-2
          i.fa.fa-github.fa-4x
        a(href="https://goo.gl/maps/xSi6u" title="Map").col-md-2
          i.fa.fa-map-marker.fa-4x
        a(href="https://trello.com/mobilelifecentre" title="Trello").col-md-2
          i.fa.fa-trello.fa-4x
        a(href="https://coderwall.com/team/mobile-life-centre" title="Coderwall").col-md-2
          i.fa.fa-th.fa-4x
    br
    br
    br
    br
    div.jumbotron.row(style="")
      div.col-md-12
        h2 Handcrafting Electronic Accessories Using 'Raw' Materials
          image.col-md-1(src="/img/tei.png")
        p In this studio we explore the design of interactive electronic accessories made from natural materials such as wood, copper, silver, wool and leather. A set of handcrafted sensor components along with easy to use sensor boards that connect with example smartphone software, will be utilized as a toolkit for the studio activities. Participants will, through hands-on activity, create with, learn about and discuss the role of natural materials in the design of wearable interactive designs.
        
        button(type="button").btn.btn-default 
          a(href="/tei") Let's get hands on
      div.col-md-6



  if user
    div.jumbotron
      h3 Choose your tool:
      div.btn-group 
        button(type="button").btn.btn-default 
          a(href="#{server}:1880/admin/?server=#{server}" target="_blank") Spacebrew
        button(type="button").btn.btn-default 
          a(href="#{server}:1880" target="_blank") red-NODE