extends layout


block content
  if mac
    div(id="teiMAC" style="visibility:hidden;")
      #{mac}
    div.row
      div.col-md-6
        h2 mac #{mac}
        br
        div.well
          p Play with the connections to understand the nature of your creations. If nothing happens, ask.
          br
        br
        h3 
          i.fa.fa-barcode
          | Digital
        br
        div.btn-group
          button.btn.btn-info(type="button" id="digital0") 1
          button.btn.btn-info(type="button" id="digital1") 1
          button.btn.btn-info(type="button" id="digital2") 1
          button.btn.btn-info(type="button" id="digital3") 1 
      div.col-md-6
        h3 
          i.fa.fa-bar-chart-o
          | Analog
        br
        div.row.col-md-12
          button.btn.btn-info.col-md-1(id="analog0Label" type="button" style="margin-left:15px; width:50px") 0
          div.col-md-1
          input.slider.col-md-10(id="analog0Slider" type="text" value="" data-slider-min="0" data-slider-max="255" data-slider-value="0" data-slider-orientation="horizontal" data-slider-tooltip="show" )
        br
        canvas(width="400px" id="analog0Graph")
        br
        br
        div.row.col-md-12
          button.btn.btn-info.col-md-1(id="analog1Label" type="button" style="margin-left:15px;width:50px") 0
          div.col-md-1
          input.slider.col-md-10(id="analog1Slider" type="text" value="" data-slider-min="0" data-slider-max="255" data-slider-value="0" data-slider-orientation="horizontal" data-slider-tooltip="show")
        br
        canvas(width="400px" id="analog1Graph")
  else
    h3 Insert the <strong>ID</strong> from your phone
    div.input-group.input-group-lg
      span.input-group-btn
        button.btn.btn-default(type="button" id="teiButton")
          i.fa.fa-edit(id="teiIcon")
      input.form-control(type="text" placeholder="00:11:22:33" id="teiID")
    br
    br

  script(src="/js/lib/smoothie.js")
  script(src="/js/lib/sb-1.2.0.js")
  script(src="/js/lib/bootstrap-slider.js")
  script(src="/js/tei.js")
      
